form, .main {
    border: 3px solid #f1f1f1;
    width:60%;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color : #3670f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .btn {
    width: auto;
    padding: 10px 18px;
    background-color: #3670f4;
    width:150px;
  }

  .large{
    width: 300px !important;
  }

  .submit-button {
    width:150px;
  }

  .other-btn {    
    width:150px;
    background-color: #7b7878;
  }
  
  .container {
    padding: 16px;
  }

  .panel {
    padding: 16px;
    border-bottom: 1px solid lightgray;
  }

  .txt {
    width: 200px !important;
  }


  .login, .details , .signup  {
    display: none;
  }

  .token-result {
    word-wrap: break-word;
  }

  .highlight {
    color: red;
  }
